<% content_for :javascripts do %>
  <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })
  </script>
<% end %>
<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="block-header">
      <div class="row">
        <div class="col-md-4 block-header">
          <h2><%= @shop.title %></h2>
          <h2><small><%= @shop.job.capitalize %></small></h2>
        </div>
        <div class="col-md-1 block-header average_star" >
          <h2 class="note"><%= @shop.average_rating(:stars) %></h2>
        </div>
        <div class="col-md-4 star_img">
          <% @stars.each do | star | %>
            <%= image_tag "star_#{star}.png", :class => "inline-image" %>
          <% end %>
        </div>
        <div class="col-md-3 like">
          <i class="fa fa-thumbs-o-up fa-3x"></i><i class="like_note"><%= @shop.likes %></i><i class="fa fa-thumbs-o-down fa-3x"></i><i class="like_note"><%= @shop.dislikes %></i>
        </div>
      </div>
      <div class="card" id="profile-main">
        <div class="pm-overview c-overflow" tabindex="3" style="overflow: hidden; outline: none;">
          <div class="pmo-pic">
            <div class="p-relative">
              <a href=""><%= image_tag @shop.profile_image.url %>
              </a>
            </div> 
            <div class="pmo-stat">
              <h2 class="m-0 c-white"><%= @job_rating %></h2><br>
              <h2 class="m-0 c-white job_position"><%= @shop.job %> à Chatres</h2>
            </div>
            <div class="pmo-block pmo-contact hidden-xs">
              <h2>Contact</h2>
                <ul>
                  <li><i class="fa fa-phone"></i></i><%= @shop.phone %></li>
                  <li><i class="fa fa-envelope-o"></i><%= @shop.email %></li>
                  <li><i class="fa fa-home"></i><%= @shop.site %></li> 
                  <li><i class="fa fa-facebook-square"></i><%= @shop.facebook %></li> 
                  <li><i class="fa fa-twitter-square"></i><%= @shop.twitter %></li> 
                  <li><i class="fa fa-map-marker"></i>
                    <address class="m-b-0"><%= @shop.address %> 
                    </address>
                  </li>
                  <!-- <li><i> horaires</i></li> -->
                </ul>
            </div>
          </div>
        </div>	
        <div class="pm-body clearfix">
          <ul class="tab-nav tn-justified" tabindex="1" style="overflow: hidden; outline: none;">
            <li class="active waves-effect"><a href="profile-about.html">Infos</a></li>
            <li class="waves-effect"><a href="profile-timeline.html">Avis</a></li>
            <li class="waves-effect"><a href="profile-photos.html">Photos</a></li>
            <li class="waves-effect"><a href="profile-connections.html">Commentaires</a></li>
          </ul> 
          <div class="pmb-block info">
            <div class="pmbb-header">
              <h2><i class="fa fa-file-text-o"></i>Summary</h2></div>
              <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                  Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                </div>
              </div>
            </div>
          <div class="pmb-block detail">
            <div class="pmbb-header">
            </div>
              <div class="row">  
                <div class="pmbb-body p-l-30 col-md-6">
                  <div class="pmbb-header">
                    <h2 class ="detail">Détails des notes</h2>
                    <div class="detail_ranking">
                      <span style="display: inline-block;width:70px;">SERVICES</span>
                        <% @services.each do | star | %>
                          <%= image_tag "star_#{star}.png", :class => "inline-image", :height => "20" %>
                        <% end %>
                      </div>
                    <div class="detail_ranking">
                      <span style="display: inline-block;width:70px;">PRIX</span>
                      <% @price.each do | star | %>
                        <%= image_tag "star_#{star}.png", :class => "inline-image", :height => "20"  %>
                      <% end %>
                    </div>
                    <div class="detail_ranking">
                      <span style="display: inline-block;width:70px;">QUALITE</span>
                      <% @quality.each do | star | %>
                        <%= image_tag "star_#{star}.png", :class => "inline-image", :height => "20"  %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="pmbb-body p-l-30 col-md-6">
                  <div class="row">
                    <div class="pmbb-header">
                      <div class="dl-horizontal col-md-6 testimonial">
                        <h2 class ="testimonial">Donnez <br> votre <br>avis</h2>
                      </div>
                      <div class="dl-horizontal col-md-6">
                        <%= link_to "#", "onclick" => "$('#myModaltrue').modal('show');" do  %>
                          <img src="/assets/button_like.png" alt="">
                        <% end %>
                        <%= link_to "#", "onclick" => "$('#myModalfalse').modal('show');" do  %>
                          <img src="/assets/button_dislike.png" alt="">
                        <% end %> 
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="listview lv-message">
                <div class="lv-body">
                  <% @shop.comments.each do | comment | %>                                   
                    <div class="lv-item media">
                      <div class="lv-avatar pull-left">
                        <img src="/assets/profile-pics/1.jpg" alt="">
                      </div>
                      <div class="media-body">
                        <div class="ms-item">
                          <%= comment.comment %>
                        </div>
                        <small class="ms-date"><i class="zmdi zmdi-access-time"></i> 20/02/2015 at 09:00</small>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>


<!-- Modal true -->
<div class="modal fade" id="myModaltrue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nouveau commentaire</h4>
      </div>
      <%= form_tag("/ratings?shop_id=#{@shop.id}&like=true", method: "post") do %>
        <div class="modal-body">
            <%= label_tag(:comment, "Votre commentaire:") %> <br>
            <%= text_area(:comment, :text, size: "40x3") %> <br>
            Vous êtes :
            <select id="regular", name="regular">
              <option value="regular"> Un client habituel </option>
              <option value="not_regular"> Un client de passage </option>
            </select> <br>
            Note : <br>
            <% ["quality", "service", "price"].each do |type| %>
              <%= type.capitalize %> :
              <% (1..5).each do |i|  %>
                <%= radio_button("rating", type, i * 2) %>
              <% end %>
              <br>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Créer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal false -->
<div class="modal fade" id="myModalfalse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nouveau commentaire</h4>
      </div>
      <%= form_tag("/ratings?shop_id=#{@shop.id}&like=false", method: "post") do %>
        <div class="modal-body">
            <%= label_tag(:comment, "Votre commentaire:") %> <br>
            <%= text_area(:comment, :text, size: "40x3") %> <br>
            Vous êtes :
            <select id="regular", name="regular">
              <option value="regular"> Un client habituel </option>
              <option value="not_regular"> Un client de passage </option>
            </select> <br>
            Note : <br>
            <% ["quality", "service", "price"].each do |type| %>
              <%= type.capitalize %> :
              <% (1..5).each do |i|  %>
                <%= radio_button("rating", type, i * 2) %>
              <% end %>
              <br>
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Créer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
