<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div>
    <p>Title: <%= @shop.title %></p>
    <p>Address: <%= @shop.address %></p>
    <p>Phone: <%= @shop.phone %></p>
    <p>Job: <%= @shop.job %></p>

    <% if @shop.ratings.empty? %>
      <p>No Rating Yet !</p>
    <% else %>
      <p>Like: <%= @shop.likes %></p>
      <p>Dislike: <%= @shop.dislikes %></p>
      <p>Stars: <%= @shop.average_stars %></p>
    <% end %>

    <% if @shop.comments.empty? %>
      <p>No Comment Yet !</p>
    <% else %>
      <p>Comments: </p>
      <% @shop.comments.each do |comment| %>
        <div>
          <%= comment.comment %>
        </div>
      <% end %>
    <% end %>
  </div>
</body>
</html>